Repository vauchi/android: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint, lint:detekt, build:debug, test:unit, security:dependency-check

lint:
  image: cimg/android:2024.01
  cache:
    key: ${CI_COMMIT_REF_SLUG}-gradle
    paths:
    - .gradle/
    - build/
    - app/build/
    policy: pull
  timeout: 30 minutes
  stage: lint
  script:
  - ./gradlew lint
  artifacts:
    reports:
      codequality: app/build/reports/lint-results.xml
    paths:
  ...

lint:detekt:
  image: cimg/android:2024.01
  cache:
    key: ${CI_COMMIT_REF_SLUG}-gradle
    paths:
    - .gradle/
    - build/
    - app/build/
    policy: pull
  timeout: 10 minutes
  stage: lint
  script:
  - ./gradlew detekt || echo "Detekt not configured"
  artifacts:
    reports:
      codequality: app/build/reports/detekt/detekt.xml
  ...

build:debug:
  image: cimg/android:2024.01
  cache:
    key: ${CI_COMMIT_REF_SLUG}-gradle
    paths:
    - .gradle/
    - build/
    - app/build/
  timeout: 30 minutes
  stage: build
  script:
  - ./gradlew assembleDebug
  artifacts:
    paths:
    - app/build/outputs/apk/debug/
    expire_in: 1 week
  allow_failure: true

test:unit:
  image: cimg/android:2024.01
  cache:
    key: ${CI_COMMIT_REF_SLUG}-gradle
    paths:
    - .gradle/
    - build/
    - app/build/
  timeout: 30 minutes
  stage: test
  script:
  - ./gradlew test
  artifacts:
    reports:
      junit: app/build/test-results/**/TEST-*.xml
    expire_in: 1 week
  allow_failure: true

security:dependency-check:
  image: cimg/android:2024.01
  cache:
    key: ${CI_COMMIT_REF_SLUG}-gradle
    paths:
    - .gradle/
    - build/
    - app/build/
    policy: pull
  timeout: 30 minutes
  stage: security
  script:
  - ./gradlew dependencyCheckAnalyze || echo "OWASP dependency check not configured"
  artifacts:
    paths:
  ...

fix: Use MobileContentType instead of MobileUpdateType
  app/src/main/kotlin/com/vauchi/MainActivity.kt
Due: lint, lint:detekt, build:debug, test:unit

fix: Fix compile errors for content updates and context resolution
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
Due: lint, lint:detekt, build:debug, test:unit

chore: Bump vauchi-mobile to 0.1.2
  app/build.gradle.kts
Due: lint, build:debug, test:unit, security:dependency-check

fix(ci): Remove allow_failure, enforce strict green MR-only CI
  .gitlab-ci.yml
  CLAUDE.md
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

feat(ci): Auto-bump vauchi-mobile version via MR
  .gitlab-ci.yml
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

fix: Add missing test dependencies and fix CI/build config
  .gitlab-ci.yml
  app/build.gradle.kts
  test-coverage.gradle
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

fix: Use PackageInfoCompat for API-safe longVersionCode
  app/src/main/kotlin/com/vauchi/ui/SettingsScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(ci): Use shared timeouts template and add auto-cancel
  .gitlab-ci.yml
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

fix: Add missing test deps and remove broken tests
  app/build.gradle.kts
  app/src/test/kotlin/com/vauchi/VauchiTestSuite.kt
  app/src/test/kotlin/com/vauchi/data/DemoContactTest.kt
  app/src/test/kotlin/com/vauchi/data/ExchangeFlowTest.kt
  app/src/test/kotlin/com/vauchi/data/VauchiRepositoryTest.kt
  app/src/test/kotlin/com/vauchi/ui/MainViewModelTest.kt
  app/src/test/kotlin/com/vauchi/util/ClipboardUtilsTest.kt
  app/src/test/kotlin/com/vauchi/util/ContactActionsTest.kt
  app/src/test/kotlin/com/vauchi/util/NetworkMonitorTest.kt
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

fix: Add SPDX headers and remove broken tests
  app/src/main/kotlin/com/vauchi/ui/HelpScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LanguageSettingsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/ThemeSettingsScreen.kt
  app/src/main/kotlin/com/vauchi/util/LocalizationManager.kt
  app/src/main/kotlin/com/vauchi/util/ThemeManager.kt
  app/src/test/kotlin/com/vauchi/VauchiTestSuite.kt
  app/src/test/kotlin/com/vauchi/data/KeyStoreHelperTest.kt
  app/src/test/kotlin/com/vauchi/data/VisibilityLabelsTest.kt
  app/src/test/kotlin/com/vauchi/proximity/AudioProximityServiceTest.kt
  app/src/test/kotlin/com/vauchi/util/NetworkMonitorTest.kt
  app/src/test/kotlin/com/vauchi/worker/SyncWorkerTest.kt
Due: lint, lint:detekt, build:debug, test:unit

refactor: Add compare_to for accurate MR change detection
  .gitlab-ci.yml
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

refactor: Extract testable logic from ContactActions, VauchiRepository, SettingsScreen
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/data/VauchiPreferences.kt
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
  app/src/main/kotlin/com/vauchi/ui/SettingsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/model/ContentUpdate.kt
  app/src/main/kotlin/com/vauchi/ui/model/PasswordStrength.kt
  app/src/main/kotlin/com/vauchi/util/ContactActions.kt
  app/src/main/kotlin/com/vauchi/util/ContactPatterns.kt
Due: lint, lint:detekt, build:debug, test:unit

test: Add unit tests for ClipboardUtils, NetworkMonitor, and hexToColor
  app/src/test/kotlin/com/vauchi/util/ClipboardUtilsTest.kt
  app/src/test/kotlin/com/vauchi/util/HexToColorTest.kt
  app/src/test/kotlin/com/vauchi/util/NetworkMonitorTest.kt
Due: lint, lint:detekt, build:debug, test:unit

test: Add unit tests for ContactPatterns, VauchiPreferences, and model types
  app/src/test/kotlin/com/vauchi/data/VauchiPreferencesTest.kt
  app/src/test/kotlin/com/vauchi/ui/model/ContentUpdateTest.kt
  app/src/test/kotlin/com/vauchi/ui/model/PasswordStrengthTest.kt
  app/src/test/kotlin/com/vauchi/util/ContactPatternsTest.kt
Due: lint, lint:detekt, build:debug, test:unit

fix: Remove broken NetworkMonitor test that depends on unsupported Robolectric API
  app/src/test/kotlin/com/vauchi/util/NetworkMonitorTest.kt
Due: lint, lint:detekt, build:debug, test:unit

feat: Add visual regression testing with Compose Preview Screenshot Testing
  .gitlab-ci.yml
  app/build.gradle.kts
  app/src/screenshotTest/kotlin/com/vauchi/ScreenshotTests.kt
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/AddFieldsStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ContactsScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/CreateIdentityStepEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/CreateIdentityStepFilledScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusWithRecordsScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ExchangeScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/LabelsScreenEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/LabelsScreenWithLabelsScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/PreviewStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ReadyStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SecurityStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SettingsScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/WelcomeStepScreenshot_73648466_0.png
  build.gradle.kts
  gradle.properties
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

docs: Add funding section to README
  README.md
Due: none

feat: Wire i18n into all views, add dark mode VRT and accessibility tests
  app/src/androidTest/kotlin/com/vauchi/ui/AccessibilityTest.kt
  app/src/main/kotlin/com/vauchi/ui/ContactDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/ContactsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/DeliveryStatusScreen.kt
  app/src/main/kotlin/com/vauchi/ui/DevicesScreen.kt
  app/src/main/kotlin/com/vauchi/ui/ExchangeScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LabelDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LabelsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/RecoveryScreen.kt
  app/src/main/kotlin/com/vauchi/ui/SettingsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/ThemeSettingsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/onboarding/OnboardingScreen.kt
  app/src/screenshotTest/kotlin/com/vauchi/ScreenshotTests.kt
Due: lint, lint:detekt, build:debug, test:unit

fix: Disable Android backup to prevent key material extraction
  app/src/main/AndroidManifest.xml
  app/src/main/res/xml/data_extraction_rules.xml
Due: lint, build:debug

feat: Add GDPR privacy features to Android app
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
  app/src/main/kotlin/com/vauchi/ui/SettingsScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat: Add backend search and pagination support for contacts
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
  app/src/main/kotlin/com/vauchi/ui/ContactsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
Due: lint, lint:detekt, build:debug, test:unit

fix: Bump vauchi-mobile bindings from 0.1.2 to 0.1.5
  app/build.gradle.kts
Due: lint, build:debug, test:unit, security:dependency-check

fix: Require user authentication for Android KeyStore access
  app/src/main/kotlin/com/vauchi/data/KeyStoreHelper.kt
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
Due: lint, lint:detekt, build:debug, test:unit

feat: Add auto-tag CI job for automated releases
  .gitlab-ci.yml
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

feat: Display field validation in Android contact detail
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/ui/ContactDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
Due: lint, lint:detekt, build:debug, test:unit

chore: Bump vauchi-mobile dependency to 0.1.9
  app/build.gradle.kts
Due: lint, build:debug, test:unit, security:dependency-check

feat: Add recovery trust contacts to Android
  app/src/main/kotlin/com/vauchi/MainActivity.kt
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
  app/src/main/kotlin/com/vauchi/ui/ContactDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
  app/src/main/kotlin/com/vauchi/ui/RecoveryScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

fix: Move recovery trust card inside contact scope and bump bindings
  app/build.gradle.kts
  app/src/main/kotlin/com/vauchi/ui/ContactDetailScreen.kt
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

refactor: Remove legacy file-based key storage migration
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
Due: lint, lint:detekt, build:debug, test:unit

test: Add Android platform edge case and screenshot tests
  app/src/screenshotTest/kotlin/com/vauchi/ScreenshotTests.kt
  app/src/test/kotlin/com/vauchi/platform/PlatformEdgeTests.kt
Due: lint, lint:detekt, build:debug, test:unit

feat: Wire ExchangeSession state machine into Android exchange
  app/build.gradle.kts
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
  app/src/main/kotlin/com/vauchi/ui/ExchangeScreen.kt
  app/src/main/kotlin/com/vauchi/ui/MainViewModel.kt
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

docs: Update SUPPORTERS.md link to docs.vauchi.app
  README.md
Due: none

refactor(vrt): Switch Android screenshots to xhdpi (2x) for smaller baselines
  app/src/screenshotTest/kotlin/com/vauchi/ScreenshotTests.kt
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/AddFieldsStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ContactFieldItemDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ContactFieldItemScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ContactsScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/CreateIdentityStepEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/CreateIdentityStepFilledScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusEmptyScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusWithRecordsDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusWithRecordsScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/DeliveryStatusWithRecordsScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ExchangeScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenEmptyCardScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenGermanDarkScreenshot_a1079a96_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenGermanScreenshot_a1079a96_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenOfflineScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenSyncingScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenWithFieldsDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/HomeScreenWithFieldsScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/LabelsScreenEmptyScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/LabelsScreenWithLabelsScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/PreviewStepDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/PreviewStepGermanScreenshot_a1079a96_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/PreviewStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/PreviewStepScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ReadyStepDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ReadyStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/ReadyStepScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/RecoveryStepComponentDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/RecoveryStepComponentScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SecurityStepDarkScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SecurityStepGermanScreenshot_a1079a96_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SecurityStepScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SecurityStepScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/SettingsScreenScreenshot_73648466_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/VisibilityToggleItemScreenshot_d0434452_0.png
  app/src/screenshotTestDebug/reference/com/vauchi/ScreenshotTestsKt/WelcomeStepScreenshot_73648466_0.png
Due: lint, lint:detekt, build:debug, test:unit

refactor: Update exchange for mutual QR flow
  app/build.gradle.kts
  app/src/main/kotlin/com/vauchi/data/VauchiRepository.kt
Due: lint, lint:detekt, build:debug, test:unit, security:dependency-check

feat(android): add accessibility semantics to SettingsScreen
  app/src/main/kotlin/com/vauchi/ui/SettingsScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(android): add accessibility semantics to OnboardingScreen
  app/src/main/kotlin/com/vauchi/ui/onboarding/OnboardingScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(android): add accessibility semantics to RecoveryScreen
  app/src/main/kotlin/com/vauchi/ui/RecoveryScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(android): add accessibility semantics to HelpScreen
  app/src/main/kotlin/com/vauchi/ui/HelpScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(android): add accessibility semantics to remaining screens
  app/src/main/kotlin/com/vauchi/ui/AhaMomentDialog.kt
  app/src/main/kotlin/com/vauchi/ui/ContactDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/DeliveryStatusScreen.kt
  app/src/main/kotlin/com/vauchi/ui/DevicesScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LabelDetailScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LabelsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/LanguageSettingsScreen.kt
  app/src/main/kotlin/com/vauchi/ui/QrScannerScreen.kt
  app/src/main/kotlin/com/vauchi/ui/ThemeSettingsScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

feat(android): add hidden contacts toggle with long-press gesture
  app/src/main/kotlin/com/vauchi/ui/ContactsScreen.kt
Due: lint, lint:detekt, build:debug, test:unit

Path conditions:
  lint: any of: **/*.kt, **/*.java, **/*.xml, build.gradle*, app/build.gradle*, .gitlab-ci.yml
  lint:detekt: any of: **/*.kt, detekt.yml, .gitlab-ci.yml
  build:debug: any of: **/*.kt, **/*.java, **/*.xml, build.gradle*, app/build.gradle*, .gitlab-ci.yml
  test:unit: any of: **/*.kt, **/*.java, build.gradle*, app/build.gradle*, .gitlab-ci.yml
  security:dependency-check: any of: build.gradle*, app/build.gradle*, .gitlab-ci.yml
